.head{
    font-size: 1.7rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}
.card2{
     border: 1px solid rgb(197, 189, 189);
     box-shadow: 0px 3px 4px  rgba(160, 156, 155, 0.533);
     height: 205;
     cursor: pointer;
}
.card2:hover{
    top: -10px;
    box-shadow: 0px 13px 10px -7px rgba(0,0,0, 0.1);
  box-shadow: 1px 8px 20px rgb(80, 79, 79);
  opacity: 0.6 ;
  cursor: pointer;
  
  /* -webkit-transition:cubic-bezier(0.075, 0.82, 0.165, 1); */
  }
 /* .img{
    background-image: url(./images/maggi.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;   
    
}  */
.heading{
    text-transform: capitalize;
}
.para{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;

    color: black;
}
/* @media (max-width:770px) {
    .card2{
width: 400vh;
display: flex;
    }
    .content{
        display: flex;
        flex-direction: column-reverse;
        padding: 0%;
    }
   
    
}
@media (max-width:770px) {
     .prize{
margin-right: 1rem;
    }
    .content{
        display: flex;
        flex-direction: column-reverse;
        padding: 0%;
    }
   
    
}
@media (max-width:575px) {
     img{
        display: block;
    }
    
}
@media (max-width:410px) {
    img{
        display: block;
    }
    
} */